[submodule "third_party/vkapriltag"]
	path = third_party/vkapriltag
	url = https://github.com/yojobama/vkapriltag.git
[submodule "third_party/codec-stereo"]
	path = third_party/codec-stereo
	url = https://github.com/yojobama/codec-stereo.git
