################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FRCV/.vs/FRCV
/FRCV/FRCVLib/bin/x64/Debug
/FRCV/FRCVLib/obj/x64/Debug
/FRCV/UnitTests/bin/x64/Debug
/FRCV/UnitTests/obj/x64/Debug
/FRCV/.vs/CopilotSnapshots/0D56F0DC4576EB438CF7C0577A0FC5C5/FD4ADDCDF46DA6468BE08EB8B0B209C4
/FRCV/.vs/CopilotSnapshots/0D56F0DC4576EB438CF7C0577A0FC5C5
